@model IEnumerable<global::Directory.Models.QuestionOptions>

@{
    ViewBag.Title = "Form";
}

<h1>Опросный лист</h1>
<table class="table">
    <form action="/Home/ProcessForm/" method="POST">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Label(item.question.Text)
                </td>
            </tr>

            foreach (var opt in item.options)
            {
                <tr>
                    <td>
                        @Html.Raw(opt.Text)
                        @Html.RadioButton($"rb+{item.question.Id}", opt.Text)
                    </td>
                </tr>
            }
        }
        <tr>
            <td>
                <input type="submit" value="Отправить" />
            </td>
        </tr>
    </form>

</table>
