
<template id="tempId11">
    <p class="block_1" id="addition1" style="background-color:#FFFF00">В_________________ районный суд<span class="text_">&lt;1&gt;</span></p>
</template>

<template id="tempId12">
    <p class="block_1" id="addition1" style="background-color:#FFFF00">В_________________ мировой суд<span class="text_">&lt;1&gt;</span></p>
</template>

<template id="tempId21">
    <p class="block_3" id="addition2"></p>
</template>

<template id="tempId22">
    <p class="block_3" id="addition2" style="background-color:#FFFF00">____________________________________(Ф.И.О. потребителя)*,</p>
</template>

<template id="tempId31">
    <div id="addition3" style="background-color:#FFFF00">
        <p class="block_3">Представитель истца: ______________________________________ <span class="text_">&lt;2&gt;</span>,</p>
        <p class="block_2"><span class="text_">&lt;2&gt; О требованиях, предъявляемых к представителям и документам, подтверждающим их полномочия, см.</span><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351272&amp;date=14.07.2020&amp;dst=1208&amp;fld=134" class="text_1"> ст. ст. 49</a><span class="text_"> -</span><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351272&amp;date=14.07.2020&amp;dst=100253&amp;fld=134" class="text_1"> 54</a><span class="text_"> Гражданского процессуального кодекса Российской Федерации.</span></p>
        <p class="block_3">адрес: ________________________________________________________,</p>
        <p class="block_3">телефон: ______________________, факс: ________________________,</p>
        <p class="block_3">адрес электронной почты: _______________________________________</p>
        <p class="block_3"> </p>
    </div>
</template>

<template id="tempId32">
    <div id="addition3">
    </div>
</template>