<!-- ЦЕНА ИСКА -> КАКОЙ СУД id1-->
<!-- Меняем шапку в зависимости от ответа -->
<template id="tempId_1_1">
    <p class="block_1" id="addition1" style="animation: anime 4s linear;">В_________________ районный суд<span class="text_"><a href="#tip1">&lt;1&gt;</a></span></p>
</template>

<template id="tempId_1_2">
    <p class="block_1" id="addition1" style="animation: anime 4s linear;">Мировому судье _________________<span class="text_"><a href="#tip1">&lt;1&gt;</a></span></p>
</template>










<!-- Есть ли представитель истца? id3-->
<!-- МЕНЯЕМ ШАПКУ В ЗАВИСИМОСТИ ОТ ОТВЕТА-->
<template id="tempId_3_1">
    <div id="addition3" style="animation: anime 4s linear;">
        <p class="block_3">Представитель истца: ______________________________________ <span class="text_"><a href="#tip2">&lt;2&gt;</a></span>,
        <p class="block_3">адрес: ________________________________________________________,</p>
        <p class="block_3">телефон: ______________________, факс: ________________________,</p>
        <p class="block_3">адрес электронной почты: _______________________________________</p>
        <p class="block_3"> </p>
    </div>
</template>

<template id="tempId_3_2">
    <div id="addition3">
    </div>
</template>

<!-- ПРИЛОЖЕНИЯ В ЗАВИСИМОСТИ ОТ ОТВЕТА-->
<template id="tempId_3_1_1">
    <div id="addition3_1">
        <p class="block_2">● Доверенность представителя (или иные документы, подтверждающие полномочия представителя) от "___" __________ ____ N ___ (если исковое заявление подписывается представителем истца) <span class="text_"><a href="#tip2">&lt;2&gt;</a></span>.</p>
        <p class="block_2">● Иные документы, подтверждающие обстоятельства, на которых истец основывает свои требования.</p>
    </div>
</template>

<template id="tempId_3_2_1">
    <div id="addition3_1">
        <p class="block_2">● Иные документы, подтверждающие обстоятельства, на которых истец основывает свои требования.</p>
    </div>
</template>










<!-- Освобожден ли истец от гос. пошлины id22-->
<!-- Меняем шапку в зависимости от ответа -->
<template id="tempId_22_2">
    <div id="addition22" style="animation: anime 4s linear;">
        <p class="block_3">Государственная пошлина: _________________________________ рублей</p>
    </div>
</template>

<template id="tempId_22_1">
    <div id="addition22" style="animation: anime 4s linear;">
        <p class="block_3">Истец освобожден от уплаты госпошлины на основании пп.__ п._ ст. 333.36 НК РФ</p>
    </div>
</template>











<!-- Ответчик ИП ИЛИ ЮЛ id9-->
<!-- Меняем шапку в зависимости от ответа -->
<template id="tempId_9_1">
    <div id="addition9" style="animation: anime 4s linear;">
        <p class="block_3">Ответчик: ___________________________ (наименование*),</p>
        <p class="block_3">адрес*: ________________________________________________________,</p>
        <p class="block_3">телефон: ______________________, факс: ________________________,</p>
        <p class="block_3">адрес электронной почты: _______________________________________</p>
        <p class="block_3"> </p>
        <p class="block_3">ИНН: _________________, ОГРН: __________________ (если известны*) <span class="text_"><a href="#tip3">&lt;3&gt;</a></span></p>
        <p class="block_3"> </p>
    </div>
</template>

<template id="tempId_9_2">
    <div id="addition9" style="animation: anime 4s linear;">
        <p class="block_3">Ответчик: ___________________________ (Ф.И.О.*),</p>
        <p class="block_3">адрес*: ________________________________________________________,</p>
        <p class="block_3">телефон: ______________________, факс: ________________________,</p>
        <p class="block_3">адрес электронной почты: _______________________________________</p>
        <p class="block_3"> </p>
        <p class="block_3">дата и место рождения: ________________________ (если известны*),</p>
        <p class="block_3">место работы: _________________________________ (если известно*),</p>
        <p class="block_3">ОГРНИП*: __________________________________ <span class="text_"><a href="#tip3">&lt;3&gt;</a></span></p>
        <p class="block_3"> </p>
    </div>
</template>













<!-- Тип договора id13-->
<!-- Меняем под ИСКОВОЕ ЗАЯВЛЕНИЕ в зависимости от ответа -->
<template id="tempId_13_1">
    <div id="addition13" style="animation: anime 4s linear;">
        <p class="block_2">"___"___________ ____ г. между истцом и ответчиком был заключен Договор купли-продажи (далее  -  Договор),  в  соответствии с которым ответчик обязался в срок до "___"___________   ____  г. предоставить истцу ______________________, а истец оплатить товар в размере ________ (_____________) рублей.</p>

        <p class="block_2"> "___"___________ ____ г. истец оплатил товар в размере ________ (_____________) рублей,  что подтверждается ___________________________.</p>
    </div>
</template>

<template id="tempId_13_2">
    <div id="addition13" style="animation: anime 4s linear;">
        <p class="block_2">"___"___________ ____ г. между истцом и ответчиком был заключен Договор возмездного оказания услуг (далее  -  Договор),  в  соответствии с которым ответчик обязался в срок до "___"___________   ____  г. оказать истцу ______________________, а истец оплатить оказанные услуги в размере ________ (_____________) рублей.</p>

        <p class="block_2"> "___"___________ ____ г. истец оплатил оказанные услуги в размере ________ (_____________) рублей, что подтверждается ___________________________.</p>
    </div>
</template>

<template id="tempId_13_3">
    <div id="addition13" style="animation: anime 4s linear;">
        <p class="block_2">"___"___________ ____ г. между истцом и ответчиком был заключен Договор бытового подряда (далее  -  Договор),  в  соответствии с которым ответчик обязался в срок до "___"___________   ____  г. оказать истцу ______________________, а истец оплатить выполненные работы в размере ________ (_____________) рублей.</p>

        <p class="block_2"> "___"___________ ____ г. истец оплатил выполненные работы в размере ________ (_____________) рублей, что подтверждается ___________________________.</p>
    </div>
</template>

<!-- МЕНЯЕМ про нарушение договора (связка с вопросом id14)-->
<template id="tempId_13_1_9">
    <span id="addition13_9" style="animation: anime 4s linear;">Однако в нарушение Договора _______</span>
</template>

<template id="tempId_13_2_9">
    <span id="addition13_9" style="animation: anime 4s linear;">Однако в нарушение Договора услуги</span>
</template>

<template id="tempId_13_3_9">
    <span id="addition13_9" style="animation: anime 4s linear;">Однако в нарушение Договора результат работ</span>
</template>

<!-- МЕНЯЕМ приложения-->
<template id="tempId_13_1_2">
    <div id="addition13_2" style="animation: anime 4s linear;">
        <p class="block_2">● Копия договора купли-продажи </p>
        <p class="block_2">● Документы об оплате истцом товара.  </p>
    </div>
</template>

<template id="tempId_13_2_2">
    <div id="addition13_2" style="animation: anime 4s linear;">
        <p class="block_2">● Копия договора об оказании услуг. </p>
        <p class="block_2">● Документы об оплате истцом услуг. </p>
    </div>
</template>

<template id="tempId_13_3_2">
    <div id="addition13_2" style="animation: anime 4s linear;">
        <p class="block_2">● Копия договора о выполнении работ. </p>
        <p class="block_2">● Документы об оплате истцом работ. </p>
    </div>
</template>

<!--2 МЕНЯЕМ про нарушение договора (связка с вопросом id14)-->
<template id="tempId_13_1_3">
    <span id="addition13_3" style="animation: anime 4s linear;">для предоставления товара, что подтверждается ____________________________.</span>
</template>

<template id="tempId_13_2_3" style="animation: anime 4s linear;">
    <span id="addition13_3" style="animation: anime 4s linear;">оказания услуг, что подтверждается ____________________________.</span>
</template>

<template id="tempId_13_3_3">
    <span id="addition13_3" style="animation: anime 4s linear;">выполнения работ, что подтверждается ____________________________.</span>
</template>

<template id="tempId_13_4_3">
    <span id="addition13_3" style="animation: anime 4s linear;">, что подтверждается ____________________________.</span>
</template>







<!-- В чем состояло нарушение договора? id14 (+id13)-->
<template id="tempId_14_1">
    <span id="addition14" style="animation: anime 4s linear;">не соответствует ________________________________</span>
</template>

<template id="tempId_14_2">
    <span id="addition14" style="animation: anime 4s linear;">ответчиком нарушен срок, установленный Договором</span>
</template>














<!-- Пытался ли истец урегулировать спор без суда? id16-->
<!-- Меняем основную часть в зависимости от ответа -->
<template id="tempId_16_1">
    <div id="addition16" style="animation: anime 4s linear;">
        <p class="block_2">Требование   (претензию)   истца   от   "___"___________   ____   г.  о _____________________  и  компенсации  морального  вреда в размере ________ (___________)  рублей  ответчик  добровольно не удовлетворил, сославшись на ___________________________________________________________________________ (или: осталось без ответа), что подтверждается _______________________ <span class="text_"><a href="#tip5">&lt;5&gt;</a></span>.</p>

        <p class="block_2">"___"______ ____ были предприняты действия, направленные на примирение, что подтверждается _____________________________________, но договоренности между  сторонами  достигнуто  не  было  (или:   действия,  направленные  на примирение, сторонами не предпринимались).</p>
    </div>
</template>

<template id="tempId_16_2">
    <div id="addition16">
    </div>
</template>




















<!-- ОСНОВНЫЕ ТРЕБОВАНИЯ id17-->
<!-- Истец вправе потребовать.... (основная часть)-->
<template id="tempId_17_1">
    <div id="addition17" style="animation: anime 4s linear;">
        <p class="block_2">Согласно<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=14&amp;fld=134" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=14&amp;fld=134" class="text_1">п. 1 ст. 18</a> Закона Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" потребитель в случае обнаружения в товаре недостатков, если они не были оговорены продавцом, по своему выбору вправе:</p>
        <p class="block_2">● потребовать замены на товар этой же марки (этих же модели и (или) артикула);</p>
        <p class="block_2">При этом потребитель вправе потребовать также полного возмещения <b class="calibre6">убытков</b>, причиненных ему вследствие продажи товара ненадлежащего качества. Убытки возмещаются в сроки, установленные<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020" class="text_1">Законом</a> Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" для удовлетворения соответствующих требований потребителя.</p>
    </div>
</template>

<template id="tempId_17_2">
    <div id="addition17" style="animation: anime 4s linear;">
        <p class="block_2">Согласно<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=14&amp;fld=134" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=14&amp;fld=134" class="text_1">п. 1 ст. 18</a> Закона Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" потребитель в случае обнаружения в товаре недостатков, если они не были оговорены продавцом, по своему выбору вправе:</p>
        <p class="block_2">● потребовать замены на такой же товар другой марки (модели, артикула) с соответствующим перерасчетом покупной цены;</p>
        <p class="block_2">При этом потребитель вправе потребовать также полного возмещения <b class="calibre6">убытков</b>, причиненных ему вследствие продажи товара ненадлежащего качества. Убытки возмещаются в сроки, установленные<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020" class="text_1">Законом</a> Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" для удовлетворения соответствующих требований потребителя.</p>
    </div>
</template>

<template id="tempId_17_3">
    <div id="addition17" style="animation: anime 4s linear;">
        <p class="block_2">Согласно<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=14&amp;fld=134" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=14&amp;fld=134" class="text_1">п. 1 ст. 18</a> Закона Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" потребитель в случае обнаружения в товаре недостатков, если они не были оговорены продавцом, по своему выбору вправе:</p>
        <p class="block_2">● потребовать соразмерного уменьшения покупной цены;</p>
        <p class="block_2">При этом потребитель вправе потребовать также полного возмещения <b class="calibre6">убытков</b>, причиненных ему вследствие продажи товара ненадлежащего качества. Убытки возмещаются в сроки, установленные<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020" class="text_1">Законом</a> Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" для удовлетворения соответствующих требований потребителя.</p>
    </div>
</template>

<template id="tempId_17_4">
    <div id="addition17" style="animation: anime 4s linear;">
        <p class="block_2">Согласно<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=14&amp;fld=134" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=14&amp;fld=134" class="text_1">п. 1 ст. 18</a> Закона Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" потребитель в случае обнаружения в товаре недостатков, если они не были оговорены продавцом, по своему выбору вправе:</p>
        <p class="block_2">● потребовать незамедлительного безвозмездного устранения недостатков товара или возмещения расходов на их исправление потребителем или третьим лицом;</p>

        <p class="block_2">При этом потребитель вправе потребовать также полного возмещения <b class="calibre6">убытков</b>, причиненных ему вследствие продажи товара ненадлежащего качества. Убытки возмещаются в сроки, установленные<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020" class="text_1">Законом</a> Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" для удовлетворения соответствующих требований потребителя.</p>
    </div>
</template>

<template id="tempId_17_5">
    <div id="addition17" style="animation: anime 4s linear;">
        <p class="block_2">Согласно<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=14&amp;fld=134" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=14&amp;fld=134" class="text_1">п. 1 ст. 18</a> Закона Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" потребитель в случае обнаружения в товаре недостатков, если они не были оговорены продавцом, по своему выбору вправе:</p>
        <p class="block_2">● отказаться от исполнения договора купли-продажи и потребовать возврата уплаченной за товар суммы. По требованию продавца и за его счет потребитель должен возвратить товар с недостатками;</p>

        <p class="block_2">При этом потребитель вправе потребовать также полного возмещения <b class="calibre6">убытков</b>, причиненных ему вследствие продажи товара ненадлежащего качества. Убытки возмещаются в сроки, установленные<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020" class="text_1">Законом</a> Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" для удовлетворения соответствующих требований потребителя.</p>
    </div>
</template>

<template id="tempId_17_6">
    <div id="addition17" style="animation: anime 4s linear;">
        <p class="block_2">Согласно<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100210&amp;fld=134" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100210&amp;fld=134" class="text_1">п. 1 ст. 29</a> Закона Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" потребитель при обнаружении недостатков выполненной работы (оказанной услуги) вправе по своему выбору потребовать:</p>
        <p class="block_2">● безвозмездного устранения недостатков выполненной работы (оказанной услуги);</p>


        <p class="block_2"> </p>
        <p class="block_2">Согласно<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100361&amp;fld=134" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100361&amp;fld=134" class="text_1">п. 1 ст. 13</a> Закона Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" за нарушение прав потребителей изготовитель (исполнитель, продавец, уполномоченная организация или уполномоченный индивидуальный предприниматель, импортер) несет ответственность, предусмотренную законом или договором.</p>
        <p class="block_2"></p>
    </div>
</template>

<template id="tempId_17_7">
    <div id="addition17" style="animation: anime 4s linear;">
        <p class="block_2">Согласно<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100210&amp;fld=134" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100210&amp;fld=134" class="text_1">п. 1 ст. 29</a> Закона Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" потребитель при обнаружении недостатков выполненной работы (оказанной услуги) вправе по своему выбору потребовать:</p>

        <p class="block_2">● соответствующего уменьшения цены выполненной работы (оказанной услуги);</p>


        <p class="block_2"> </p>
        <p class="block_2">Согласно<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100361&amp;fld=134" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100361&amp;fld=134" class="text_1">п. 1 ст. 13</a> Закона Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" за нарушение прав потребителей изготовитель (исполнитель, продавец, уполномоченная организация или уполномоченный индивидуальный предприниматель, импортер) несет ответственность, предусмотренную законом или договором.</p>
        <p class="block_2"></p>
    </div>
</template>

<template id="tempId_17_8">
    <div id="addition17" style="animation: anime 4s linear;">
        <p class="block_2">Согласно<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100210&amp;fld=134" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100210&amp;fld=134" class="text_1">п. 1 ст. 29</a> Закона Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" потребитель при обнаружении недостатков выполненной работы (оказанной услуги) вправе по своему выбору потребовать:</p>
        <p class="block_2">● безвозмездного изготовления другой вещи из однородного материала такого же качества или повторного выполнения работы. При этом потребитель обязан возвратить ранее переданную ему исполнителем вещь;</p>

        <p class="block_2"> </p>
        <p class="block_2">Согласно<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100361&amp;fld=134" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100361&amp;fld=134" class="text_1">п. 1 ст. 13</a> Закона Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" за нарушение прав потребителей изготовитель (исполнитель, продавец, уполномоченная организация или уполномоченный индивидуальный предприниматель, импортер) несет ответственность, предусмотренную законом или договором.</p>
        <p class="block_2"></p>
    </div>
</template>

<template id="tempId_17_9">
    <div id="addition17" style="animation: anime 4s linear;">
        <p class="block_2">Согласно<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100210&amp;fld=134" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100210&amp;fld=134" class="text_1">п. 1 ст. 29</a> Закона Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" потребитель при обнаружении недостатков выполненной работы (оказанной услуги) вправе по своему выбору потребовать:</p>
        <p class="block_2">● возмещения понесенных им расходов по устранению недостатков выполненной работы (оказанной услуги) своими силами или третьими лицами;</p>


        <p class="block_2"> </p>
        <p class="block_2">Согласно<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100361&amp;fld=134" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100361&amp;fld=134" class="text_1">п. 1 ст. 13</a> Закона Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" за нарушение прав потребителей изготовитель (исполнитель, продавец, уполномоченная организация или уполномоченный индивидуальный предприниматель, импортер) несет ответственность, предусмотренную законом или договором.</p>
        <p class="block_2"></p>
    </div>
</template>

<!-- Дополнение (пункт) в ПРОШУ (просительная часть)-->
<template id="tempId_17_1_1">
    <div id="addition17_1" style="animation: anime 4s linear;">
        <div class="block_2">● обязать ответчика заменить товар на товар этой же марки (этих же модели и (или) артикула)</div>
    </div>
</template>

<template id="tempId_17_2_1">
    <div id="addition17_1" style="animation: anime 4s linear;">
        <p class="block_2">● обязать ответчика заменить товар на такой же товар другой марки (модели, артикула) с соответствующим перерасчетом покупной цены</p>
    </div>
</template>

<template id="tempId_17_3_1">
    <div id="addition17_1" style="animation: anime 4s linear;">
        <p class="block_2">● обязать ответчика соразмерно уменьшить покупную цену и возместить разницу</p>
    </div>
</template>

<template id="tempId_17_4_1">
    <div id="addition17_1" style="animation: anime 4s linear;">
        <p class="block_2">● обязать ответчика незамедлительно безвозмездно устранить недостатки товара или возместить расходы на их исправление потребителем или третьим лицом</p>
    </div>
</template>

<template id="tempId_17_5_1">
    <div id="addition17_1" style="animation: anime 4s linear;">
        <p class="block_2">● обязать ответчика возвратить уплаченную за товар сумму</p>
    </div>
</template>

<template id="tempId_17_6_1">
    <div id="addition17_1" style="animation: anime 4s linear;">
        <p class="block_2">● обязать ответчика безвозмездно устранить недостатки выполненной работы (оказанной услуги)</p>
    </div>
</template>

<template id="tempId_17_7_1">
    <div id="addition17_1" style="animation: anime 4s linear;">
        <p class="block_2">● обязать ответчика уменьшить цену выполненной работы (оказанной услуги)</p>
    </div>
</template>

<template id="tempId_17_8_1">
    <div id="addition17_1" style="animation: anime 4s linear;">
        <p class="block_2">● обязать ответчика безвозмездно изготовить другую вещь из однородного материала такого же качества или повторно выполнить работу. При этом потребитель обязан возвратить ранее переданную ему исполнителем вещь</p>
    </div>
</template>

<template id="tempId_17_9_1">
    <div id="addition17_1" style="animation: anime 4s linear;">
        <p class="block_2">● обязать ответчика возместить понесенные истцом расходы по устранению недостатков выполненной работы (оказанной услуги) своими силами или третьими лицами</p>
    </div>
</template>


<!--  О чем иск? Под ИСКОВОЕ ЗАЯВЛЕНИЕ  -->
<template id="tempId_17_1_2">
    <div id="addition17_2" style="animation: anime 4s linear;">
        <p class="block_5">о замене товара</p>
    </div>
</template>

<template id="tempId_17_2_2">
    <div id="addition17_2" style="animation: anime 4s linear;">
        <p class="block_5">о замене товара и пересчете покупной цены</p>
    </div>
</template>

<template id="tempId_17_3_2">
    <div id="addition17_2" style="animation: anime 4s linear;">
        <p class="block_5">об уменьшении покупной цены</p>
    </div>
</template>

<template id="tempId_17_4_2">
    <div id="addition17_2" style="animation: anime 4s linear;">
        <p class="block_5">об устранении недостатков товара</p>
    </div>
</template>

<template id="tempId_17_5_2">
    <div id="addition17_2" style="animation: anime 4s linear;">
        <p class="block_5">отказе от исполнения договара купли-продажи</p>
    </div>
</template>

<template id="tempId_17_6_2">
    <div id="addition17_2" style="animation: anime 4s linear;">
        <p class="block_5">об устранении недостатков работы/услуги</p>
    </div>
</template>

<template id="tempId_17_7_2">
    <div id="addition17_2" style="animation: anime 4s linear;">
        <p class="block_5">об уменьшении цены выполненной работы/услуги</p>
    </div>
</template>

<template id="tempId_17_8_2">
    <div id="addition17_2" style="animation: anime 4s linear;">
        <p class="block_5">о безвозмездном изготовлении вещи/повторном выполнении работы</p>
    </div>
</template>

<template id="tempId_17_9_2">
    <div id="addition17_2" style="animation: anime 4s linear;">
        <p class="block_5">о возмещении понесенных расходов по устранению недостатков выполненной работы / оказанной услуги</p>
    </div>
</template>

















<!-- ДОПОЛНИТЕЛЬНЫЕ ТРЕБОВАНИЯ id18-->
<!-- Добавляем пункты в прошу -->
<template id="tempId_18_1_1">
    <div class="block_2" id="addition18_1" style="animation: anime 4s linear;">● возместить материальный ущерб, причинённый ответчиком, в размере &lt;...&gt;</div>
</template>

<template id="tempId_18_1_2">
    <div id="addition18_1"></div>
</template>

<template id="tempId_18_2_1">
    <div class="block_2" id="addition18_2" style="animation: anime 4s linear;">● возместить моральный вред, причинённый ответчиком, в размере &lt;...&gt;</div>
</template>

<template id="tempId_18_2_2">
    <div id="addition18_2"></div>
</template>

<template id="tempId_18_3_1">
    <div class="block_2" id="addition18_3" style="animation: anime 4s linear;">● взыскать с ответчика судебные расходы в размере &lt;...&gt;</div>
</template>

<template id="tempId_18_3_2">
    <div id="addition18_3"></div>
</template>

<template id="tempId_18_4_1">
    <div class="block_2" id="addition18_4" style="animation: anime 4s linear;">● взыскать с ответчика установленную договором неустойку в размере &lt;...&gt; (&lt;...&gt;% годовых). Расчёт суммы - в приложении</div>
</template>

<template id="tempId_18_4_2">
    <div id="addition18_4"></div>
</template>

<template id="tempId_18_5_1">
    <div class="block_2" id="addition18_5" style="animation: anime 4s linear;">● взыскать с ответчика неустойку, установленную ФЗ &lt;...&gt;, в размере &lt;...&gt; (&lt;...&gt;%). Расчёт - в приложении</div>
</template>

<template id="tempId_18_5_2">
    <div id="addition18_5"></div>
</template>

<template id="tempId_18_7_1">
    <div class="block_2" id="addition18_7" style="animation: anime 4s linear;">● взыскать с ответчика в пользу истца штраф за неудовлетворение в добровольном порядке требований потребителя в размере пятидесяти процентов от суммы, присужденной судом в пользу потребителя</div>
</template>

<template id="tempId_18_7_2">
    <div id="addition18_7"></div>
</template>


<!-- Добавляем текст в основную часть в зависимости от ответа -->
<template id="tempId_18_2_1_1">
    <div id="addition18_2_1" style="animation: anime 4s linear;">
        <p class="block_2">Кроме того, истцу причинен <b class="calibre6">моральный вред</b>, что выразилось в следующем: _________________________ и подтверждается ___________________________. Сумму морального вреда истец оценивает в ____________ (___________) рублей.</p>
        <p class="block_2">Согласно<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=340325&amp;date=14.07.2020&amp;dst=688&amp;fld=134" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=340325&amp;date=14.07.2020&amp;dst=688&amp;fld=134" class="text_1">абз. 1 ст. 151</a> Гражданского кодекса Российской Федерации, если гражданину причинен моральный вред (физические или нравственные страдания) действиями, нарушающими его личные неимущественные права либо посягающими на принадлежащие гражданину другие нематериальные блага, а также в других случаях, предусмотренных законом, суд может возложить на нарушителя обязанность денежной компенсации указанного вреда.</p>
        <p class="block_2">Согласно<a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100105&amp;fld=134" class="calibre3"> </a><a href="https://login.consultant.ru/link/?req=doc&amp;base=LAW&amp;n=351249&amp;date=14.07.2020&amp;dst=100105&amp;fld=134" class="text_1">ст. 15</a> Закона Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" моральный вред, причиненный потребителю вследствие нарушения изготовителем (исполнителем, продавцом, уполномоченной организацией или уполномоченным индивидуальным предпринимателем, импортером) прав потребителя, предусмотренных законами и правовыми актами Российской Федерации, регулирующими отношения в области защиты прав потребителей, подлежит компенсации причинителем вреда при наличии его вины. Размер компенсации морального вреда определяется судом и не зависит от размера возмещения имущественного вреда.</p>
    </div>
</template>

<template id="tempId_18_2_2_1">
    <div id="addition18_2_1"></div>
</template>

<template id="tempId_18_1_1_1">
    <div id="addition18_1_1" style="animation: anime 4s linear;">
        <p class="block_2">
            В результате указанного нарушения истцу был причинён материальный ущерб, что выразилось в следующем: _____________, подтверждается ____________. Сумма материального ущерба составляет ____________ (___________) рублей, что подтверждается документами в приложении.
        </p>
        <p class="block_2">
            В соответствии со ст. 14 Закона РФ от 07.02.1992 N 2300-1 «О защите прав потребителей» вред, причиненный жизни, здоровью или имуществу потребителя вследствие конструктивных, производственных, рецептурных или иных недостатков товара (работы, услуги), подлежит возмещению в полном объеме.
        </p>
        <p class="block_2">
            Право требовать возмещения вреда, причиненного вследствие недостатков товара (работы, услуги), признается за любым потерпевшим независимо от того, состоял он в договорных отношениях с продавцом (исполнителем) или нет.
        </p>
        <p class="block_2">
            Изготовитель (исполнитель) несет ответственность за вред, причиненный жизни, здоровью или имуществу потребителя в связи с использованием материалов, оборудования, инструментов и иных средств, необходимых для производства товаров (выполнения работ, оказания услуг), независимо от того, позволял уровень научных и технических знаний выявить их особые свойства или нет.
        </p>
    </div>
</template>

<template id="tempId_18_1_2_1">
    <div id="addition18_1_1"></div>
</template>

<template id="tempId_18_3_1_1">
    <div id="addition18_3_1" style="animation: anime 4s linear;">
        <p class="block_2">
            В соответствии с п. 1 ст. 98 ГПК РФ  стороне, в пользу которой состоялось решение суда, суд присуждает возместить с другой стороны все понесенные по делу судебные расходы, за исключением случаев, предусмотренных частью второй статьи 96 настоящего Кодекса. В случае, если иск удовлетворен частично, указанные в настоящей статье судебные расходы присуждаются истцу пропорционально размеру удовлетворенных судом исковых требований, а ответчику пропорционально той части исковых требований, в которой истцу отказано.
        </p>
    </div>
</template>

<template id="tempId_18_3_2_1">
    <div id="addition18_3_1">
    </div>
</template>

<template id="tempId_18_4_1_1">
    <div id="addition18_4_1" style="animation: anime 4s linear;">
        <p class="block_2">
            Между сторонами был заключен Договор от ___________ №_____________ о ________, в соответствии с которым сторонами на случай нарушения была предусмотрена неустойка в размере ____ % годовых. Данная неустойка предусмотрена пунктом _______ Договора.
        </p>
    </div>
</template>

<template id="tempId_18_4_2_1">
    <div id="addition18_4_1"></div>
</template>

<template id="tempId_18_5_1_1">
    <div id="addition18_5_1" style="animation: anime 4s linear;">
        <p class="block_2">
            Согласно п. 5 ст. 28 Закона Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" в случае нарушения установленных сроков выполнения работы (оказания услуги) или назначенных потребителем на основании пункта 1 настоящей статьи новых сроков исполнитель уплачивает потребителю за каждый день (час, если срок определен в часах) просрочки неустойку (пеню) в размере трех процентов цены выполнения работы (оказания услуги), а если цена выполнения работы (оказания услуги) договором о выполнении работ (оказании услуг) не определена - общей цены заказа. Договором о выполнении работ (оказании услуг) между потребителем и исполнителем может быть установлен более высокий размер неустойки (пени).
        </p>
        <p class="block_2">
            Неустойка (пеня) за нарушение сроков начала выполнения работы (оказания услуги), ее этапа взыскивается за каждый день (час, если срок определен в часах) просрочки вплоть до начала выполнения работы (оказания услуги), ее этапа или предъявления потребителем требований, предусмотренных пунктом 1 настоящей статьи.
        </p>
        <p class="block_2">
            Неустойка (пеня) за нарушение сроков окончания выполнения работы (оказания услуги), ее этапа взыскивается за каждый день (час, если срок определен в часах) просрочки вплоть до окончания выполнения работы (оказания услуги), ее этапа или предъявления потребителем требований, предусмотренных пунктом 1 настоящей статьи.
        </p>
        <p class="block_2">
            Сумма взысканной потребителем неустойки (пени) не может превышать цену отдельного вида выполнения работы (оказания услуги) или общую цену заказа, если цена выполнения отдельного вида работы (оказания услуги) не определена договором о выполнении работы (оказании услуги).
        </p>
        <p class="block_2">
            Размер неустойки (пени) определяется, исходя из цены выполнения работы (оказания услуги), а если указанная цена не определена, исходя из общей цены заказа, существовавшей в том месте, в котором требование потребителя должно было быть удовлетворено исполнителем в день добровольного удовлетворения такого требования или в день вынесения судебного решения, если требование потребителя добровольно удовлетворено не было.
        </p>
    </div>
</template>

<template id="tempId_18_5_2_1">
    <div id="addition18_5_1"></div>
</template>

<template id="tempId_18_7_1_1">
    <div id="addition18_7_1" style="animation: anime 4s linear;">
        <p class="block_2">
            В соответствии с п. 6 ст. 13 Закона Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей" при удовлетворении судом требований потребителя, установленных законом, суд взыскивает с изготовителя (исполнителя, продавца, уполномоченной организации или уполномоченного индивидуального предпринимателя, импортера) за несоблюдение в добровольном порядке удовлетворения требований потребителя штраф в размере пятьдесят процентов от суммы, присужденной судом в пользу потребителя.
        </p>
    </div>
</template>

<template id="tempId_18_7_2_1">
    <div id="addition18_7_1"></div>
</template>


<!-- МЕНЯЕМ приложения в зависимости от ответа -->
<template id="tempId_18_1_1_2">
    <div id="addition18_1_2" style="animation: anime 4s linear;">
        <p class="block_2">
            ● Документы, подтверждающие факт причинения вреда, а также размер ущерба.
        </p>
    </div>
</template>

<template id="tempId_18_1_2_2">
    <div id="addition18_1_2"></div>
</template>

<template id="tempId_18_2_1_2">
    <div id="addition18_2_2">
        <p class="block_2">
        </p>
    </div>
</template>

<template id="tempId_18_2_2_2">
    <div id="addition18_2_2"></div>
</template>

<template id="tempId_18_3_1_2">
    <div id="addition18_3_2">
        <p class="block_2">
        </p>
    </div>
</template>

<template id="tempId_18_3_2_2">
    <div id="addition18_3_2"></div>
</template>

<template id="tempId_18_4_1_2">
    <div id="addition18_4_2" style="animation: anime 4s linear;">
        <p class="block_2">
            ● Расчет суммы неустойки на основании договора.

        </p>
    </div>
</template>

<template id="tempId_18_4_2_2">
    <div id="addition18_4_2"></div>
</template>

<template id="tempId_18_5_1_2">
    <div id="addition18_5_2" style="animation: anime 4s linear;">
        <p class="block_2">
            ● Расчет суммы неустойки на основании закона.
        </p>
    </div>
</template>

<template id="tempId_18_5_2_2">
    <div id="addition18_5_2"></div>
</template>

<template id="tempId_18_7_1_2">
    <div id="addition18_7_2">
        <p class="block_2">
        </p>
    </div>
</template>

<template id="tempId_18_7_2_2">
    <div id="addition18_7_2"></div>
</template>