@model IEnumerable<global::Directory.Models.Lawsuit>

<head>
    <title>Заголовок</title>
    <link type="text/css" rel="stylesheet" href="../../Content/mainPageCSS.css" />
</head>

<body>
    <h1>Выберете шаблон</h1>
    <div>
        <ul class="list6b">
            @foreach (global::Directory.Models.Lawsuit item in Model)
            {
                <li> @Html.ActionLink(item.Name, "Form", new { id = item.Id }) </li>
            }
        </ul>
       
    </div>
</body>